html{
	scroll-behavior: smooth;
}

h5{
	display: inline-block;
	font-size: 150% !important;
	font-weight: 500 !important;
	margin-left: 40px !important;
}

h4{
	font-size: 150%;
}

h3{
	text-align: center;
	font-size: 200% !important;
	font-family: 'Montserrat', sans-serif;
}

h3:hover{
	color: white;
	cursor: none;
}

h2{
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
}

img{
	margin-left: 20px;
	margin-right: 10px;
}

em{
	font-size: 125%;
	font-family: "Papyrus";
	font-weight: 1000;
}

em:hover{
	color: white;
	cursor: none;
}

p{
	text-align: center;
	font-size: 150%;
	font-family: 'Libre Franklin', sans-serif;
}

table{
	border: 2px solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 60%;
}

td{
	text-align: center;
}

ul{
	display: flex;
	list-style: none;
}

li{
	font-size: 125%;
	font-family: 'Raleway', sans-serif;
}

/*To remove the scroll in input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

footer{
	text-align: center;
	background-color: #7bc47f;
	padding: 5px;
}

#aboutus{
	display: inline-block;
	width: 100%;
	background-color: #b5edb8;
}

#ourresults{
	display: inline-block;
	width: 100%;
	background-color: lightgreen;
}

#ourteam{
	display: inline-block;
	width: 100%;
	background-color: #7bc47f;
}

#contactus{
	display: inline-block;
	width: 100%;
	background-color: #b5edb8;
}

.imp_info{
	text-transform: uppercase;
	color: red;
}

.marks{
	font-size: 150%;
	color: black;
}

.info{
	margin-top: 50px;
	font-size: 150%;
}

.info_team{
	display: inline-block;
	font-size: 110%;
	margin-left: 10px;
}

.mail_link{
	text-decoration: none;
}

.mail_link:hover{
	color: red;
}

.cnt{
	display: inline-block;
}

.contact_container{
	display: flex;
	margin: 20px 40px;
}

.btn{
	border-radius: 3px;
	background-color: #7bc47f;
	color: white;
	cursor: pointer;
	transition-duration: 0.4s;
	margin: 0px 5px 0px;
}

.btn:hover{
	background-color: red;
}

@media screen and (max-width: 768px){
	li{
		font-size: 5px !important;
	}
}

@media screen and (max-width: 1024px){
	h1{
		font-size: 25px !important;
	}

	.logo img{
		height: 20%;
		width: 20%;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	li{
		font-size: 20px !important;
	}
}
